body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #066778, #ff9a9e);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f9f9f9;
    color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6f61;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff4f43;
}

input[type="submit"]:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

input[type="submit"]:disabled:hover {
    background-color: #ccc;
}


.error {
    color: #ff4f43;
    font-size: 0.8em;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.return-image {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(103%) contrast(102%);
}